header {
    position: relative;
   border-bottom: 1px solid black;
}

header .profile-banner {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

header .profile-banner img {
    width: 100%;
    height: 100%;
}

.user-img {
    position: absolute;
    top: -50px;
    left: 20px;
}

.user-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
}


.container {
    display: flex;
    width: 100%;
    background-color: #fff;

    border-radius: 8px;

}

.posts {
    height: 100%;
    width: 100%;
}

aside, main {
  
    height: 100vh;
}

aside {
    flex: 2; 
    padding: 20px;
}

aside .user-info {
    border: 1px solid black;
    height: 100%;
}

main {
    flex: 4; 
    padding: 20px;
    border-radius: 20px;
}

main .posts {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.user {
    position: relative;
    margin-top: -50px; 
    padding: 10px 20px;
    background: #fff;

}


.user-details {
    margin-top: 40px; 
    padding: 15px;

}

.followers {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}



.interact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr .3fr;
  grid-gap: 10px;
  height: 30px;
  margin-top: 5px;
  
}

.interact-buttons button {
  color: white;
  border-radius: 10px;
  height: 40px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.post-header img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

aside .user-info {
  padding: 15px;
  border-radius: 10px;
}

aside .info {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}

aside .description {
  margin-bottom: 20px;
}

.isSelfUserDiv {
}

.isSelfUserDiv .buttons {
  display: grid;
  grid-template-columns:  1fr;

}

.isSelfUserDiv .buttons div {
  height: 40px;
}

.isSelfUserDiv .buttons div button {
 width: 100%;
 height: 100%;
 border: none;
 background: blue;
 color: white;
 font-weight: 700;
 border-radius: 20px;
}

.responsive-user-details {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}


.r-info div {
    display: flex;
    gap: 5px;
}


.active-inactive {
   
    width: 100%;
    padding-bottom: 5px;
}

.active-inactive div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.openBlockCard {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 25px;
    color: white;
}

.block-user {
  position: absolute;
  top: 25px;
  right: 70px;
}


@media (max-width: 687px) {
    aside {
        display: none;
    }
    
    .responsive-user-details {
        display: flex;
    }
  
    .container {
        flex-direction: column;
    }
}