.container{
    width: 70%;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mh-search {
  background: #7289DA;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
}

.mh-search input {
  background: transparent; 
  border: none;
  color: white;
  outline: none;
  width: 100%;
}

.mh-search input::placeholder {
  color: #D3D3D3;
}

.main-chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat {
  transition: 0.4s;
  width: 85%;
  padding: 15px;
  border-radius: 15px;
  background: #F6F6F6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.chat:hover {
  background: #A1A9FF;
}

.main-chat-user .user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.main-chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.main-chat-user .user-details p {
  color: #B9BBBE; 
}

@media(max-width: 730px) {
  .container {
    width: 100%;
    
  }

  .main-chat-user .user-img img {
    width: 35px;
    height: 35px; 
  }

  .main-chat-user .user-details p {
    font-size: 14px; 
  }
}