/*.layout {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.aside {
    flex: 0 0 250px;
    display: block;
}

.right-aside {
    flex: 0 0 150px;
    display: block;
}

.main {
    flex: 1;
}

media (max-width: 700px) {
  .layout {
    display: block;
    padding: 0;
  }

  .aside, .right-aside {
    display: none;
  }

  .main {
    padding: 15px;
  }
}
*/

.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1; 
  border:3px solid red;
}

.aside {
  width: 250px;
  border: 1px solid black; 

}

.right-aside {
  width: 150px;
  border: 1px solid black;
}

@media(max-width: 700px) {
  .aside, .right-aside {
    display: none; 
  }
}