
.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1; 
  border:3px solid red;
}

.aside {
  width: 250px;
  border: 1px solid black; 

}

.right-aside {
  width: 150px;
  border: 1px solid black;
}

.posts {
  
}

@media(max-width: 700px) {
  .aside, .right-aside {
    display: none; 
  }
}